@import '../../Styles/variable';
@import '../../Styles/mixin';

.homepage{
    display: grid;
    grid-template-columns: 3fr 9fr;
    padding-top: 3rem;
    grid-gap: 1.5rem;

    @media screen and (max-width:1023px) {
        grid-template-columns: 6fr 9fr;
    }
    @media screen and (max-width:767px) {
        grid-template-columns: 12fr;
    }

    &__left{
        &--top{
            display: flex;
            justify-content: center;
            border-bottom: 1px solid $ping-light-color;
            

            & li{
               text-align: center;
                flex:1;
                color: $gray-color-1;
                cursor: pointer;
                padding: 5px;
                position: relative;

                &::after{
                    content: "";
                    position: absolute;
                    left: 0;
                    bottom: -1px;
                    width: 100%;
                    height: 2px;
                    background: $red-color;
                    opacity: 0;
                }
                
            }
            &__active{
                background-color: $gray-color-3;
                color: $black-color;

                &::after{
                    opacity: 1 !important;
                }
            }
        }
    }
}

// homepage middle
.homepage__middle{

    &--top{
        &--heading{
            margin: 0;
            position: relative;
            padding: 0 0 0px 35px;

            &::after{
                position: absolute;
                content: "";
                left: 0;
                top: 10px;
                width: 20px;
                height: 20px;
                border-radius: 50%;
                background: $blue-color;
            }
        }
        &--content{
            position: relative;
        }
        &--img{
            width: 100%;
        }
        &--title{
            position: absolute;
            margin: 0;
            bottom: 32px;
            z-index: 1;
            left: 19px;
            color: #fff;
            width: 88%;
        }
        &--subTitle{
            color: $red-color;
            position: relative;
            padding-right: 15px;

            &::after{
                content: "/";
                position: absolute;
                color: $red-color;
                margin-left: 5px;
                margin-top: 5px;
            }
        }
    }

}

.middle__bottom{
    margin-top: 1rem;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 1.5rem;

    &--img{
        width: 100%;
    }
}
// history tab content
.history{
    &__single{
        border-bottom: 1px solid $ping-light-color;
        padding-bottom: 0.5rem;
        margin-bottom: 0.5rem;
        cursor: pointer;
        &:last-child{
            border-bottom: 0;
        }

        &--number{
            font-size: 2rem;
            margin: 0;
        }
        &--title{
            margin: 0;
            font-size: 1.2rem;
            
        }
        &--subTitle{
            color: $red-color;
            position: relative;
            margin-right: 1rem;

            &::after{
                content: "/";
                position: absolute;
                color: $gray-light-color;
                margin-left: 5px;
                margin-top: 5px;
                
            }
        }
        &--subTitleEmpty{
            margin-right: 0;
            &::after{
                display: none;
            }
        }
    }
}

// homepage right
.homepage__right{
    display: grid;
    grid-template-columns: 6fr 3fr;
    grid-gap: 1.5rem;

    @media screen and(max-width:1024px){
        grid-template-columns: 12fr;
    }
   
    &--top{
        &--title{
            font-size: 1rem;
            color: $black-color;
            margin: 0;
        }
        &--add{
            @include display;
            background: $gray-color-3;
            height: 250px;
        }
    }
}


.side__news{
    margin: 1.5rem 0 0 0;
    &--single{
        display: flex;
        grid-gap: 0.8rem;
        border-bottom: 1px solid $ping-light-color;
        margin-bottom: 1rem;
        padding-bottom: 1rem;
        &__left{

        }
        &__right{
            height: 80px;

        & img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        }
    }
   
}